<!DOCTYPE html>
<html>
  <head>
    <title>Sencha Touch Bootstrap App (using ST 2 PR 3)</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link href="/javascripts/touch/resources/css/sencha-touch.css" media="screen" rel="stylesheet" type="text/css">
    <script src="/javascripts/touch/sencha-touch-all-debug.js" type="text/javascript"></script>
    <script src="/app/app.js" type="text/javascript"></script>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
